@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<TravelMVC.Models.Destination>;

<h2>Destinations:</h2>
@foreach (Destination dest in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(model => dest.Country)
        </td>
    <td>
        @Html.DisplayFor(model => dest.City)
    </td>
    <td>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", new { id=dest.DestinationId }) <span>|</span>
        }
        
        @Html.ActionLink("Details", "Details", new { id=dest.DestinationId })

        @if (User.Identity.IsAuthenticated)
        {
        <span>|</span> @Html.ActionLink("Delete", "Delete", new { id=dest.DestinationId })
        }
    </td>
    </tr>
    <br>
}

<h3>@Html.ActionLink("Create a new destination", "Create")</h3>
<h3>@Html.ActionLink("Home", "Index", "Home")</h3>
